<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="availableQpsTable">
    <div th:if="${not #lists.isEmpty(viewAvailableQps)}">
        <h3 class="success">Available QPs</h3>
        <form th:action="@{/submitSelectedQp}" method="post">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Select</th>
                    <th>S.No</th>
                    <th>Subject Code</th>
                    <th>Subject Name</th>
                    <th>Qp Prepared Series</th>
                    <th>Qp Setter Details</th>
                    <th>View File</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="record, iterStat : ${viewAvailableQps}">
                    <td>
                        <input type="radio" class="form-control" name="selectedQp" th:value="${record.id}" required>
                    </td>
                    <td th:text="${iterStat.count}"></td>
                    <td th:text="${record.subject_code}"></td>
                    <td th:text="${record.subject_name}"></td>
                    <td th:text="${record.series_name}"></td>
                    <td th:utext="${record.setter_details}"></td>
                    <td>
                        <a th:href="@{/viewPDF(fileinfo=${record.qp_file_path}, filename=${record.subject_code})}"
                           target="_blank" class="btn btn-primary btn-sm">View</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>
