<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="scripts">
        <!-- jQuery -->
        <script th:src="@{/js/jquery-3.7.1.js}"></script>

        <!-- Bootstrap -->
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>

        <!-- DataTables -->
        <script th:src="@{/js/dataTables.js}"></script>
        <script th:src="@{/js/dataTables.bootstrap5.js}"></script>
        <script th:src="@{/js/dataTables.buttons.js}"></script>
        <script th:src="@{/js/buttons.bootstrap5.js}"></script>
        <script th:src="@{/js/jszip.min.js}"></script>
        <script th:src="@{/js/pdfmake.min.js}"></script>
        <script th:src="@{/js/vfs_fonts.js}"></script>
        <script th:src="@{/js/buttons.html5.min.js}"></script>
        <script th:src="@{/js/buttons.print.min.js}"></script>
        <script th:src="@{/js/buttons.colVis.min.js}"></script>

        <script>
            $(document).ready(function() {
                 var table = $('#example').DataTable({
                     dom: 'lBfrtip',
                     buttons: [
                         'copy', 'csv', 'pdf',  'colvis'
                     ],
                     lengthMenu: [ [10, 25, 50, -1], [10, 25, 50, "All"] ],
                     language: {
                         lengthMenu: "Show _MENU_ entries"
                     }
                 });

                 $('#example tbody').on('click', 'tr', function() {
                     $(this).toggleClass('selected');
                 });
             });
        </script>
        <script>
            $(document).ready(function() {
                 var table = $('#example1').DataTable({
                     dom: 'lBfrtip',
                     buttons: [
                         'copy', 'csv', 'pdf',  'colvis'
                     ],
                     lengthMenu: [ [10, 25, 50, -1], [10, 25, 50, "All"] ],
                     language: {
                         lengthMenu: "Show _MENU_ entries"
                     }
                 });

                 $('#example tbody').on('click', 'tr', function() {
                     $(this).toggleClass('selected');
                 });
             });
        </script>

        <script type="text/javascript">
          /*  new DataTable('#example', {
            layout: {
                topStart: {
                    buttons: ['copy', 'excel', 'pdf', 'colvis']
                }
            }
        });*/
        </script>
        <script type="text/javascript">
         /*   new DataTable('#search', {
            layout: {
                topStart: {
                   // buttons: ['copy', 'excel', 'pdf', 'colvis']
                }
            }
        }); */
        </script>

        <!-- Custom JavaScript -->
        <script th:src="@{/js/common.js}"></script>
    </th:block>
</head>
</html>
