<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="styles">
        <!-- Google Fonts -->

        <!-- Bootstrap CSS -->
                <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

        <!-- DataTables CSS -->
        <link th:href="@{/css/dataTables.bootstrap5.css}" rel="stylesheet">
        <link th:href="@{/css/buttons.bootstrap5.css}" rel="stylesheet">

        <!-- Custom Styles -->
        <link th:href="@{/css/style.css}" rel="stylesheet">
    </th:block>
</head>
</html>
