<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="totalQpsTable">
  <div th:if="${not #lists.isEmpty(totalQps)}" class="mt-4">
    <h2>Total QPs</h2>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>S.No</th>
        <th>Subject Code</th>
        <th>Subject Name</th>
        <th>Qp Prepared Series</th>
        <th>Qp Setter Details</th>
        <th>View File</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="record, iterStat : ${totalQps}">
        <td th:text="${iterStat.count}" class="text-center"></td>
        <td th:text="${record.subject_code}" class="text-center"></td>
        <td th:text="${record.subject_name}" class="text-center"></td>
        <td th:text="${record.series_name}" class="text-center"></td>
        <td th:utext="${record.setter_details}" class="text-center"></td>
        <td class="text-center">
          <a th:href="@{/viewPDF(fileinfo=${record.qp_file_path}, filename=${record.subject_code})}"
             target="_blank" class="btn btn-primary btn-sm">View</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
