<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>QPMS</title>

    <!-- base:css -->

        <link rel="stylesheet" th:href="@{css/style.css}">
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- endinject -->
    <style>
        html, body, .container-table {
           height: 100%;

           background: #2e2f8b;

       }

           .form-control{background: none !important; border-radius: 5px;}
           .logo{}
           .logo img{ height: 100px; width: 100px; display: inline !important;}
    </style>
</head>
<body>

<div class="d-flex align-items-center justify-content-center vh-100" >
    <div class="p-4 m-2 shadow rounded-2 border-light bg-white" style="width:700px;">

        <div class="row">
            <div class="col-6 d-flex align-items-center logo justify-content-center">
                <div class="text-center">
                    <img src="../images/logo.png" align="center" alt="" />
                    <h4 class="text-primary">GUJARAT TECHNOLOGICAL UNIVERSITY </h4>
                    <h6 class="text-danger">INTERNATIONAL INNOVATIVE UNIVERSITY<br /><span class="text-primary">Accredited with A+ grade by NAAC</span></h6>
                    <h5>Secure Online Question Paper Receiving System (SOQPRS)</h5>
                </div>


            </div>
            <div class="col-6 align-self-center border-start">
                <h3 class="mb-3 pb-2 pt-2">Set New / Reset Password</h3>

                <!-- Display Error Messages -->
                <p th:if="${success}" class="text-danger" th:text="${success}"></p>
                <p th:if="${error}" class="text-danger" th:text="${error}"></p>

                <form th:action="@{/password/forgot}" method="post">
                    <input type="hidden" name="token" th:value="${token}" />




                    <!-- Password input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" >User ID</label>
                        <input type="text" name="userName" th:if="${userName}" readonly th:value="${userName}" class="form-control" required />
                        <input type="text" name="userName" th:unless="${userName}"  th:value="${userName}" class="form-control" required />

                    </div>
                    <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" >Email</label>
                        <input type="email" name="email" required  class="form-control" />

                    </div>

                    <!-- Submit button -->
                    <div class="d-flex justify-content-between me-3">
                        <div>
                            <button type="submit"  class="btn btn-primary btn-block mb-4">Submit</button>


                        </div>
                        <div><a th:href="@{/(macid=${macid})}"
                                class="btn btn-warning mb-4">
                            Go to Login Page
                        </a>
                        </div>
                    </div>


                    <!-- Register buttons -->

                </form>

            </div>

        </div>
    </div>

</div>


<script th:src="@{/js/jquery-3.7.1.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
