<html xmlns:th="http://www.thymeleaf.org">
<div class="container-fluid p-3">
    <!-- Content Start -->

    <div class="row">
        <div class="col-12">
            <div class="cards">
                <div class="card border-0">
                    <h2>QP Review Dashboard</h2>
                    <p th:if="${successMessage}" class="text-danger" th:text="${successMessage}"></p>
                    <div class="row">
                        <form th:action="@{/moderatorDashBoardFilters}"  method="post" >
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label for="" class="form-label">Course Name </label>
                                            <select class="form-select" id="courseCode" required  name="course_id" >
                                                <option value="All">All</option>
                                                <option th:each="course : ${coursesList}" th:value="${course.id}" th:text="${course.course_name}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label for="" class="form-label">Year / Sem </label>
                                            <select class="form-select" id="yearsem" required  name="semester" >
                                                <option value="All">All</option>
                                                <option th:each="semester : ${semesterList}" th:value="${semester}" th:text="${semester}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="mb-3">
                                            <label for="" class="form-label">Subject </label>
                                            <select class="form-select" id="subject" required  name="subject_id" >
                                                <option value="All">All</option>
                                                <option th:each="subject : ${subjectsList}"
                                                        th:value="${subject.id}"
                                                        th:text="|${subject.subjectCode} - ${subject.subject_name}|">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label for="" class="form-label">QP Status </label>
                                            <select class="form-select" id="qpStatus" required  name="qpStatus" >
                                                <option value="All">All</option>
                                                <option value="PENDING">PENDING</option>
                                                <option value="NOT SUBMITTED">NOT SUBMITTED</option>
                                                <option value="FORWARDED">FORWARDED</option>
                                                <option value="Re-Submit">REJECTED</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3 mt-4">
                                            <button class="btn btn-primary">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="col-12">
                            <table class="table table-bordered" id="example">
                                <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Course Name</th>
                                   <!-- <th>Year</th>-->
                                    <th>Year/Sem.</th>
                                    <th>Subject Code</th>
                                    <th>Subject Name</th>
                                    <th>Syllabus</th>
                                    <th>QP Setter</th>
                                    <th>Status</th>
                                    <th>Received Date</th>
                                    <th>Preview</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="appointment, iterStat : ${qpSectionDashBoardList}">
                                    <td class="text-center" th:text="${iterStat.count}"></td>
                                    <td th:text="${appointment.course_name}"></td>
                                   <!-- <td th:text="${appointment.year}"></td>-->
                                    <td th:text="${appointment.semester}"></td>
                                    <td th:text="${appointment.subject_code}"></td>
                                    <td th:text="${appointment.subject_name}"></td>
                                    <td>
                                        <a href="https://syllabus.gtu.ac.in/" target="_blank" class="link-primary" title="View Syllabus">View</a>
                                    </td>
                                    <td th:text="${appointment.setter_details}" class="text-center"></td>
                                    <td class="text-center">
                                        <span th:text="${appointment.qp_status != null ? appointment.qp_status : 'Pending'}"></span><br>
                                        <a href="#" class="link-primary"
                                           th:if="${not #strings.isEmpty(appointment.remarks)}"
                                           onclick="showRemarks(this)"
                                           th:data-remarks="${appointment.remarks}">Remarks</a>
                                    </td>

                                    <td th:text="${appointment.qp_status_date}"></td>

                                    <td th:unless="${appointment.qp_status =='NOT SUBMITTED'}">
                                        <a th:href="@{/previewPdf/{id}/{subjectId}/{setterId}(id=1, subjectId=${appointment.subject_id},setterId=${appointment.user_id})}" class="btn btn-sm btn-warning" title="preview" target="_blank">
                                            Preview
                                        </a>
                                    </td>
                                    <td th:if="${appointment.qp_status =='NOT SUBMITTED'}">

                                    </td>
                                    <td th:unless="${appointment.qp_status =='NOT SUBMITTED'}">
                                        <a th:if="${appointment.qp_status == 'PENDING'}" th:href="@{/reviewerQuestionsList(id=1, subjectId=${appointment.subject_id},setterId=${appointment.user_id})}" class="btn btn-sm btn-info">
                                            Review Questions
                                        </a>
                                    </td>
                                    <td th:if="${appointment.qp_status =='NOT SUBMITTED'}">

                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <script>
        function showRemarks(link) {
            var remarksText = link.getAttribute("data-remarks"); // Get solution text
            document.getElementById("remarksContent").innerHTML = remarksText; // Insert solution into modal
            var remarksModal = new bootstrap.Modal(document.getElementById('remarksModal'));
            remarksModal.show(); // Show the modal
        }
    </script>


    <div class="modal fade" id="remarksModal" tabindex="-1" aria-labelledby="remarksModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="remarksModalLabel">Remarks</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="remarksContent"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Content  -->
</div>