<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>pdf</title>
</head>
<style type="text/css">
    body{font-family:"Times New Roman", "serif"; font-size: 18px;}
	p{margin:0 0 3px 0; padding:0;}
	img{ width:70% !important; height:auto !important;}
</style>
<style>
    .q-desc {
    font-size: 16px; /* Adjust the font size */
    max-width: 400px; /* Set a maximum width for the text */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; /* Allows text wrapping */
    word-wrap: break-word; /* Ensures long words break properly */
}

</style>
<body>
<div class="watermarked" ></div>
<table width="720" border="0" align="center">
    <tr>
        <td>
            <table width="100%" border="0">

                <tr>
                    <td align="left" valign="middle">
                        <h2>
                            <span th:text="${subjects.subjectCode}"> </span>-
                            <span th:text="${subjects.subject_name}"></span>:

                        </h2>

                    </td>
                    <td align="right"  valign="middle">
                        Max Marks:<span th:text="${subjects.max_marks}"></span>
                    </td>

                </tr>
                <tr>
                    <td colspan="3" >
                        <hr />
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td>
            <table width="100%" border="0">
                <tr>
                    <td align="right"><b>Marks</b></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <th:block th:each="entry : ${groupedQuestions}">
                <table width="100%" border="0">
                    <tr th:each="question, iterStat : ${entry.value}">
                        <td width="30" valign="top" th:if="${iterStat.first}"><b th:text="${'Q.' + entry.key}"></b></td>
                        <td width="30" valign="top" th:unless="${iterStat.first}"></td>
                        <td width="30" valign="top"><b th:text="${question.bit_no} + ')'"></b></td>
                        <td valign="top">
                            <p ><b th:utext="${question.instructions}"></b></p>
                            <span class="q-desc" th:utext="${question.q_desc}"></span>
                            <img th:if="${question.image_path != null}"
                                 th:src="'data:image/png;base64,' + ${question.image_path}"
                                 alt="Uploaded Image"  width="300" >
                        </td>
                        <td width="30" valign="top" align="right">
                            <b th:text="${#numbers.formatInteger(question.marks, 2)}"></b>
                        </td>
                    </tr>
                </table>
            </th:block>
        </td>
    </tr>
    <tr>
        <td align="center">
            <b>***</b>
        </td>
    </tr>
</table>
</div>

</body>
</html>
