<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GTU-SOQPRS</title>

    <!-- base:css -->

    <link rel="stylesheet" th:href="@{css/style.css}">
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet" >
    <!-- endinject -->
    <style>
        html, body, .container-table {
           height: 100%;

           background: #2e2f8b;

       }

           .form-control{background: none !important; border-radius: 5px;}
           .logo{}
           .logo img{ height: 100px; width: 100px; display: inline !important;}
    </style>
</head>

<body>

<div class="d-flex align-items-center justify-content-center vh-100" >
    <div class="p-4 m-2 shadow rounded-2 border-light bg-white" style="width:700px;">

        <div class="row">
            <div class="col-6 d-flex align-items-center logo justify-content-center">
                <div class="text-center">
                    <img src="images/logo.png" align="center" alt="" />
                    <h4 class="text-primary">GUJARAT TECHNOLOGICAL UNIVERSITY </h4>
                    <h6 class="text-danger">INTERNATIONAL INNOVATIVE UNIVERSITY<br /><span class="text-primary">Accredited with A+ grade by NAAC</span></h6>
                    <h5>Secure Online Question Paper Receiving System (SOQPRS)</h5>
                </div>


            </div>
            <div class="col-6 align-self-center border-start">
                <h3 class=" mb-3 pb-2 pt-2">Forgot Password</h3>
                <form th:action="@{/password/reset}" method="post">
                    <input type="hidden" name="token" th:value="${token}" />




                    <!-- Password input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" >New Password</label>
                        <input type="password" name="newPassword" required  class="form-control" />

                    </div>
                    <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" >Confirm Password</label>
                        <input type="password" name="confirmPassword" required  class="form-control" />

                    </div>

                    <!-- Submit button -->
                    <div class="d-flex justify-content-between me-3">
                        <div>
                            <button type="submit"  class="btn btn-primary btn-block mb-4">Reset Password</button>


                        </div>

                    </div>


                    <!-- Register buttons -->

                </form>


            </div>
        </div>
    </div>

</div>


<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
