
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>pdf</title>
</head>
<style type="text/css">
	body{font-family:"Times New Roman", "serif"  !important; font-size: 14px  !important;}
    p{margin:0 0 3px 0; padding:0;}
    h2,h3{margin: 0; padding: 0;}
    img{ width:70% !important; height:auto !important;}
    .watermarked {
  position: relative;
  overflow: hidden;
}

</style>
<style>
	.q-desc {
    font-size: 16px; /* Adjust the font size */
    max-width: 400px; /* Set a maximum width for the text */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; /* Allows text wrapping */
    word-wrap: break-word; /* Ensures long words break properly */
}

</style>
<body>
<table width="720" border="0" align="center">
	<tr>
		<td>Enrolment No./Seat No.:
		</td>
	</tr>
	<tr>
		<td align="center">
			<h2>GUJARAT TECHNOLOGICAL UNIVERSITY</h2>
				<h3><small th:text="${courseNames + ' - SEMESTER - ' +semesterNames+ ' EXAMINATION - ' + examSeries.seriesName}"></small>
			</h3>
		</td>
	</tr>
	<tr>
		<td>
			<table width="100%" border="0">
				<tr>
					<td>
						<h3>Subject Code:  <span th:text="${subjects.subjectCode}"> </span> </h3>
					</td>
					<td align="right">
						<h3>Date: <span th:text="${timetableData.exam_date}"></span> </h3>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<table width="100%" border="0">
							<tr><td width="135" valign="top">
								<h3>Subject Name:</h3>
							</td>
								<td align="left" valign="top">
									<h3><span th:text="${subjects.subject_name}"></span></h3>
								</td></tr>
						</table>
					</td>

				</tr>
				<tr>
					<td>
						<h3>Time:<span th:text="${timetableData.exam_session}"></span>  </h3>
					</td>
					<td align="right">
						<h3>Total Marks: <span th:text="${subjects.max_marks}"></span>      </h3>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table width="100%" border="0">
				<tr>
					<td style="font-weight:bold;">
						<p th:utext="${patternInstructions.instructions}"></p>
						<p th:utext="${appointment.qp_instruction}" class="text-bold"></p>
					</td>
				</tr>

			</table>
		</td>
	</tr>
	<tr>
		<td>
			<th:block th:each="entry : ${groupedQuestions}">
				<table width="100%" border="0">
					<tr th:each="question, iterStat : ${entry.value}">
						<td width="30" valign="top" th:if="${iterStat.first}"><b th:text="${'Q.' + entry.key}"></b></td>
						<!--<td width="30" valign="top" th:if="${iterStat.first}"><b th:text="${'Q' + entry.key + '.'}"></b></td>-->
						<td width="30" valign="top" th:unless="${iterStat.first}"></td>
						<td width="30" valign="top">
							<!--                            <b th:if="${!question.bit_no.contains('OR')}" th:text="'(' + ${question.bit_no} + ')'"></b>-->
							<b th:if="${question.bit_no != '' and !question.bit_no.contains('OR')}" th:text="'(' + ${question.bit_no} + ')'"></b>
						</td>
						<td valign="top" th:if="${!question.bit_no.contains('OR')}">
							<p ><b th:utext="${question.instructions}"></b></p>
							<span class="q-desc" th:utext="${question.q_desc}"></span>
							<img th:if="${question.image_path != null}"
								 th:src="'data:image/png;base64,' + ${question.image_path}"
								 alt="Uploaded Image"  width="300" >
						</td>
						<td valign="top"  align="center" th:if="${question.bit_no.contains('OR')}">
							<p > <b th:text="${question.bit_no}"></b></p>
						</td>
						<td width="50" valign="top" align="center">
							<b th:text="${question.marks}"></b>
						</td>
					</tr>
				</table>
			</th:block>
		</td>
	</tr>
	<tr>
		<td align="center"><b>***</b></td>
	</tr>
</table>





</body>
</html>
